<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
<h1>This is the index of Sensei!</h1>
<strong>BOW TO YOUR SENSEI!!!</strong><br>
<a href="/">index</a><br>
<a href="/aboutSensei">aboutSensei</a><br>
<a href="/contactSensei">contactSensei</a><br>
<a href="/FAQ">FAQ</a><br>

</body>
</html>