<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
</head>
<body>
<strong>ABOUT SENSEI</strong><br>
<h1>SENSEI IS AMAZING!!!</h1>
<a href="/">index</a><br>
<a href="/aboutSensei">aboutSensei</a><br>
<a href="/contactSensei">contactSensei</a><br>
<a href="/FAQ">FAQ</a><br>

</body>
</html>